.main-card{
height: 50%;
}

.card-container {
  width: 80%;
  height:500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
  gap: 1.5rem;
}

.card-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.card-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}